body,.v-application{
    font-family: 'Poppins', sans-serif !important;
}
.heading{
    color: #313131;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    /* Text style for "F, ind the" */
    letter-spacing: 0.8px;
}
.bg-gray{
    background-color: #f8f8f8;  
}
.left-hero{
    padding-left: 100px !important;
}
.subtitle{
    color: #313131;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
.small-title{
    color: #313131;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.color-primary{
    color: #ff8522;
}
.section-head{
    color: #313131;
    font-family: "Roboto - Black";
    font-size: 24px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
}
.section-subhead{
    color: #808080;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.tab-content{
    margin-top: 40px;
    padding: 20px;
    box-shadow: 0 0 38px rgba(182, 182, 182, 0.37) !important;
    border-radius: 3px !important;
    border: 1px solid #e4e4e4;
    background-color: #ffffff !important;
}
.tab-head{
    color: #26211d;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
.active{
    color: #ff8522 !important;
}
.dots{
    position: absolute;
    top: 10px;
    right: 20px;
}
.dots i{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
.v-tabs-slider-wrapper{
    display: none;
}
.v-tabs-bar__content{
    justify-content: space-around;
}
.v-tabs--icons-and-text > .v-tabs-bar{
    height: 107px !important;
}
.flex.option-card {
    margin: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 1px 10px 1px rgba(178, 178, 179, 0.21);
    background-color: #ffffff;
}
.flex.option-card:hover{
    color:#fff;
    background-color: #ff8522;
}
.flex.option-card:hover h3,.flex.option-card:hover p{
    color:#fff;
}

.flex.option-card h3{
    color: #313131;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
.flex.option-card p{
    color: #808080;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.decision-card{
    padding: 10px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.11);
    border-radius: 3px;
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
}
.decision-card h3{
    margin-top: 20px;
    color: #ff8522;
    font-family: Roboto;
    font-size: 24px !important;
    line-height: 18px !important;
}
.decision-card p{
    margin-top: 20px;
    color: #808080;
font-family: Roboto;
font-size: 18px !important;
line-height: 30px;
}
.footer-img{
    position: absolute !important;
    bottom: 0px;
    left: 0px;
}
.menu-items a{
    color: #313131 !important;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
}
.search-option .v-input__control > .v-input__slot{
    background: transparent !important;
    border-radius: 20px;
    border: 1px solid #eee;
}
.list-order{
    color: #ff8522;
    font-family: "Roboto - Black";
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
}
.list-title{
    color: #313131;
    font-family: Roboto;
    font-size: 18px !important;
    font-weight: 400;
    line-height: 30px !important;
}
.list-subtitle{
    color: #808080 !important;
    font-family: Roboto;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 30px !important;
    overflow: unset !important; 
    white-space: unset !important;
}
.counter-area{
    width: 200px;
    height: 200px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color:#ff8522;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 auto;
    padding-top: 22%;
    font-size: 20px;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}
.footer-icon{
    max-width: 20px !important;
    max-height: 20px !important;
}
.footer-menu{
    display: flex;
    color:#fff;
    margin: 10px 0;
}
.footer-search .v-input__control > .v-input__slot{
    background: #3b3a46 !important;
    border: 1px solid #e4e4e4;
}
.footer p{
    opacity: 0.53;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.footer h3{
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}