<template>
  <v-row class="home-counter" >
      
     <v-img :aspect-ratio="16/7" src="../assets/images/counter.png">
     <v-col  cols="8" class="my-4"  align="center" justify="center" style="margin: 0 auto;">
          <h1 class="section-head my-4" style="color:white;">OUR <span class="color-primary"> ACHIEVEMENTS</span></h1>
          <h5 class="section-subhead">We are pleased with what we have achieved so far. Thanks to your engagement we continue to grow and make a measureable impact.</h5>
      </v-col>
     <v-container bg fill-height grid-list-md text-xs-center>
        <v-layout row wrap >
        <v-row justify="center" style="text-align:center;" class="lightbox white--text pa-2 fill-height">
          <v-col>
            <div class="counter-area">$1 BILLION</div>
          </v-col>
          <v-col>
            <div class="counter-area">75+</div>
          </v-col>
          <v-col>
            <div class="counter-area">40,000+</div>
          </v-col>
        </v-row>
        </v-layout>
     </v-container>
      </v-img>
  </v-row>
</template>

<script>
export default {
  name: 'AchivementsComponent',
  data: () => ({
     
  }),
};
</script>