<template>
    <v-row class=" bg-gray">
      <v-col class="pa-0" cols="6">
        <v-container bg fill-height grid-list-md text-xs-center>
        <v-layout row wrap align-center>
          <v-flex text-align="right" class="left-hero">
            <h2 class="heading">Find the perfect loan for your small business.</h2>
                <h5 class="subtitle my-4">Choose your loan, and get funded fast.</h5>
                <v-text-field
                    solo
                    flat
                    class="search-option"
                    label="How much do you need?"
                    prepend-inner-icon="attach_money"
                    ></v-text-field>
                <h6 class="small-title">Already have an account? <span class="color-primary">Sign in</span>.</h6>
          </v-flex>
        </v-layout>
      </v-container>

      </v-col>
      <v-col class="pa-0" cols="6">
          <v-img src="../assets/images/banner-top.png" height="100%" width="100%"></v-img>
      </v-col>
    </v-row>
</template>
<script>
export default {
  name: 'BigHero',
  data: () => ({
    
  }),
};
</script>