<template>
  <v-row style="position:relative;">
      <v-col  cols="8" class="my-4"  align="center" justify="center" style="margin: 0 auto;">
          <h1 class="section-head my-4">Make your best <span class="color-primary"> business decision yet</span></h1>
          <h5 class="section-subhead">On the other hand we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment so blinded by desire that they cannot foresee the pain and trouble that are bound.</h5>
      </v-col>
      <v-row style="z-index:1;margin-bottom: 150px; margin:40px">
        <v-col
        cols="3"
      >
        <v-flex class="decision-card">
          <v-img width="65" height="60" class="mr-4" src="../assets/icons/cash.png"></v-img>
          <div>
              <h3>Business Credit Card</h3>
              <p>Find the financing solution that actually fits</p>
          </div>
        </v-flex>
      </v-col>
      <v-col
        cols="3"
      >
        <v-flex class="decision-card">
          <v-img width="65" height="64" class="mr-4" src="../assets/icons/sign_up.png"></v-img>
          <div>
              <h3>Business Credit Card</h3>
              <p>Find the financing solution that actually fits</p>
          </div>
        </v-flex>
      </v-col>
      <v-col
        cols="3"
      >
        <v-flex class="decision-card">
          <v-img width="60" height="60" class="mr-4" src="../assets/icons/compare.png"></v-img>
          <div>
              <h3>Business Credit Card</h3>
              <p>Find the financing solution that actually fits</p>
          </div>
        </v-flex>
    </v-col>
    <v-col
        cols="3"
      >
        <v-flex class="decision-card">
          <v-img width="60" height="60" class="mr-4" src="../assets/icons/explore.png"></v-img>
          <div>
              <h3>Business Credit Card</h3>
              <p>Find the financing solution that actually fits</p>
          </div>
        </v-flex>
    </v-col>
    
      </v-row>
      
    <v-img class="footer-img" src="../assets/icons/footer.png"></v-img>
  </v-row>
</template>

<script>
export default {
  name: 'DecisionComponent',
  data: () => ({
     
  }),
};
</script>