<template>
  <v-row class="footer" style="padding:20px 50px;background:#21202e">
      <v-col cols="8">
          <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down mb-2"
          contain
          min-width="100"
          src="../assets/icons/logo.png"
          width="202px"
        />
        <p style="width:400px">Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
        <v-flex>
            <label class="footer-menu"><v-img class="mr-3 footer-icon" src="../assets/icons/home.png"></v-img> Home</label>
            <label class="footer-menu"><v-img class="mr-3 footer-icon" src="../assets/icons/how.png"></v-img> How it Works</label>
            <label class="footer-menu"><v-img class="mr-3 footer-icon" src="../assets/icons/business.png"></v-img> Bussiness Loans</label>
            <label class="footer-menu"><v-img class="mr-3 footer-icon" src="../assets/icons/policy.png"></v-img> Privacy Policy</label>
        </v-flex>
      </v-col>
      <v-col cols="4">
          <h3>Newsletter</h3>
          <p style="width:400px">Stay informed about progress of projects you support and the latest news about causes you care about:</p>
          <v-text-field
            solo
            flat
            class="footer-search"
            label="Enter your email"
            append-outer-icon="send"
          ></v-text-field>

          <h3>Follow Links</h3>
          <div style="display:flex">
                <v-img class="mr-3 footer-icon" src="../assets/icons/fb.png"></v-img>
                <v-img class="mr-3 footer-icon" src="../assets/icons/insta.png"></v-img>
          </div>
          
      </v-col>
      <v-col cols="12" style="text-align:center;border-top:1px solid #3b3a46">
          <p>© Copyright 2019, All rights reserved by www.fundingmarket.com</p>
      </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'FooterComponent',
  data: () => ({
        
     
  }),
};
</script>