<template>
  <div >
    <BigHeroComponent />
    <TabsSectionComponent/>
    <OptionsComponent/>
    <MarketingComponent/>
    <AchivementsComponent/>
    <DecisionComponent/>
    <FooterComponent/>
  </div>
</template>

<script>
  import BigHeroComponent from './BigHeroComponent';
  import TabsSectionComponent from './TabsSectionComponent';
  import OptionsComponent from './OptionsComponent';
  import MarketingComponent from './MarketingComponent';
  import AchivementsComponent from './AchivementsComponent';
  import DecisionComponent from './DecisionComponent';
  import FooterComponent from './FooterComponent';
  export default {
    name: 'HomeComponent',
    components: {
      BigHeroComponent,
      TabsSectionComponent,
      OptionsComponent,
      MarketingComponent,
      AchivementsComponent,
      DecisionComponent,
      FooterComponent
    },
    data: () => ({
      
    }),
  }
</script>
