<template>
  <v-row style="position:relative;">
      <v-col  cols="8" class="my-4"  align="center" justify="center" style="margin: 0 auto;">
          <h1 class="section-head my-4">We Craft Marketing and <span class="color-primary">Digital Products that Grow Busines.</span></h1>
          <h5 class="section-subhead">On the other hand we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment so blinded by desire that they cannot foresee the pain and trouble that are bound.</h5>
      </v-col>
      <v-col cols="10" class="d-flex" style="margin:0 auto;">
          <v-col cols="4">
              <v-img class="mr-4" src="../assets/images/voluntree.png"></v-img>
          </v-col>
          
          <v-col cols="8">
              <v-list :key="value.id" v-for="value in values">
                   <v-list-item two-line>
                        <v-list-item-content>
                            <v-list-item-title class="list-title"><span class="color-primary list-order mr-2">{{value.id}}</span>{{value.title}}</v-list-item-title>
                            <v-list-item-subtitle class="list-subtitle">{{value.content}}</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
              </v-list>
          </v-col>
        </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'MarketingComponent',
  data: () => ({
     values:[
         {
             id:'01',
             title:"Track other companies you do business with",
             content: "Protect yourself from customers and partners who don’t pay. With a Nav Premium Plus account, you can track the credit reports of up to 5 other businesses to make sure you’re working with credible companies."
         },
         {
             id:'02',
             title:"Protect what you’ve built, 24 hours a day",
             content: "Your privacy and data security are our top concern. We keep your information safe and secure using bank-level encryption. Plus, our 24/7 monitoring gives you real-time alerts to changes in your reports. Other sites and “programs” charge hundreds of dollars for the same information."
         },
         {
             id:'03',
             title:"Safeguard your identity",
             content: "As a business owner, having your identity stolen can be devastating. You can’t be too careful these days. That’s why we automatically cover you with $1 million identity theft insurance coverage and recovery assistance in our Premium accounts."
         },
         {
             id:'04',
             title:"Free credit scores specifically for small business",
             content: "Nav makes it easy to learn how to build your business credit profile, leading to better access to capital and lowering your costs. Other sites and “programs” charge hundreds of dollars for the same information."
         },
     ]
  }),
};
</script>