<template>
  <v-row style="position:relative;">
      <v-col  cols="12" class="my-4"  align="center" justify="center">
          <h1 class="section-head my-4">Business loan options of <span class="color-primary"> all shapes and sizes.</span></h1>
          <h5 class="section-subhead">Find the financing solution that actually fits your business - and your wallet.</h5>
      </v-col>
      <v-row style="z-index:1;margin-bottom: 150px; margin:40px">
        <v-col
        cols="4"
      >
        <v-flex class="option-card">
          <v-img width="65" height="60" class="mr-4" src="../assets/icons/credit-card.png"></v-img>
          <div>
              <h3>Business Credit Card</h3>
              <p>Find the financing solution that actually fits</p>
          </div>
        </v-flex>
      </v-col>
      <v-col
        cols="4"
      >
        <v-flex class="option-card">
          <v-img width="65" height="64" class="mr-4" src="../assets/icons/calendar.png"></v-img>
          <div>
              <h3>Business Credit Card</h3>
              <p>Find the financing solution that actually fits</p>
          </div>
        </v-flex>
      </v-col>
      <v-col
        cols="4"
      >
        <v-flex class="option-card">
          <v-img width="60" height="60" class="mr-4" src="../assets/icons/clock.png"></v-img>
          <div>
              <h3>Business Credit Card</h3>
              <p>Find the financing solution that actually fits</p>
          </div>
        </v-flex>
    </v-col>
    <v-col
        cols="4"
      >
        <v-flex class="option-card">
          <v-img width="65" height="60" class="mr-4" src="../assets/icons/credit-card.png"></v-img>
          <div>
              <h3>Business Credit Card</h3>
              <p>Find the financing solution that actually fits</p>
          </div>
        </v-flex>
      </v-col>
      <v-col
        cols="4"
      >
        <v-flex class="option-card">
          <v-img width="65" height="64" class="mr-4" src="../assets/icons/calendar.png"></v-img>
          <div>
              <h3>Business Credit Card</h3>
              <p>Find the financing solution that actually fits</p>
          </div>
        </v-flex>
      </v-col>
      <v-col
        cols="4"
      >
        <v-flex class="option-card">
          <v-img width="60" height="60" class="mr-4" src="../assets/icons/clock.png"></v-img>
          <div>
              <h3>Business Credit Card</h3>
              <p>Find the financing solution that actually fits</p>
          </div>
        </v-flex>
    </v-col>
      </v-row>
      
    <v-img class="footer-img" src="../assets/icons/footer.png"></v-img>
  </v-row>
</template>

<script>
export default {
  name: 'OptionsComponent',
  data: () => ({
     
  }),
};
</script>