<template>
  <v-row class="ma-4" align="center" justify="center">
      <v-col  cols="8" class="my-4"  align="center" justify="center" style="margin: 0 auto;">
          <h1 class="section-head my-4">HOW DOES COPALANA WORK? <span class="color-primary">ITS VERY SIMPLE</span></h1>
          <h5 class="section-subhead">Business owners who understand their business credit scores are 41% more likely to be approved for a loan.</h5>
      </v-col>
      <v-card class="my-4" style="margin-top:50px" width="80%" flat>
        <v-tabs
        v-model="tab"
        icons-and-text
        >
        <v-tabs-slider></v-tabs-slider>

        <v-tab href="#tab-1">
            <span class="color-primary mt-4">See where you stand</span>
            <v-img src="../assets/icons/market.png"></v-img>
        </v-tab>

        <v-tab href="#tab-2">
            <span class="mt-4">Get funding fast</span>
            <v-img src="../assets/icons/camera.png"></v-img>
        </v-tab>

        <v-tab href="#tab-3">
            <span class="mt-4">Future-proof your business</span>
            <v-img src="../assets/icons/send.png"></v-img>
        </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
        <v-tab-item
            v-for="i in 3"
            :key="i"
            :value="'tab-' + i"
        >
            <v-card flat class="tab-content">
                <div class="d-flex dots">
                    <v-icon :class="i==1 ? 'active': ''">fiber_manual_record</v-icon>
                    <v-icon :class="i==2 ? 'active': ''">fiber_manual_record</v-icon>
                    <v-icon :class="i==3 ? 'active': ''">fiber_manual_record</v-icon>
                </div>
            <v-card-text>
                <h4 class="tab-head">{{ text[i].title}}</h4>
                {{ text[i].content }}
            </v-card-text>
            </v-card>
        </v-tab-item>
        </v-tabs-items>
    </v-card>
  </v-row>
</template>

<script>
export default {
  name: 'TabsSectionComponent',
  data: () => ({
        tab: null,
        text: [
            '',
            {
                title: 'See where you stand',
                content: 'Get free personal and business credit scores and reports you can actually understand. It takes two minutes to sign up. See your approval odds for dozens of the top business credit cards and loans, and apply instantly. Use Nav’s free tools to protect your business profile, so it’s in great shape when you need cash to grow or get through a rough patch.'
            },
            {
                title: 'Get funding fast',
                content: 'Get free personal and business credit scores and reports you can actually understand. It takes two minutes to sign up. See your approval odds for dozens of the top business credit cards and loans, and apply instantly. Use Nav’s free tools to protect your business profile, so it’s in great shape when you need cash to grow or get through a rough patch.'
            },
            {
                title: 'Future-proof your business',
                content: 'Get free personal and business credit scores and reports you can actually understand. It takes two minutes to sign up. See your approval odds for dozens of the top business credit cards and loans, and apply instantly. Use Nav’s free tools to protect your business profile, so it’s in great shape when you need cash to grow or get through a rough patch.'
            },
        ]
     
  }),
};
</script>