<template>
  <v-app>
    <v-app-bar
      app
      color="white"
      dark
      
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="./assets/icons/logo.png"
          width="100"
        />
      </div>
      <v-spacer></v-spacer>
      <v-row class="menu-items" >
        <a :key="menu.id" v-for="menu in menus" class="mx-4" >{{menu.title}}</a>
      </v-row>

      <v-spacer></v-spacer>
       <v-btn
       outlined
       color="primary"
       class="mr-4 v-btn--rounded"
      >
        <span class="mr-2">LOGIN</span>
        
      </v-btn>
      <v-btn
        rounded color="primary"
      >
        <span class="mr-2">Get Loan Offers</span>
        
      </v-btn>
    </v-app-bar>

    <v-content>
      <HomeComponent/>
    </v-content>
  </v-app>
</template>

<script>
import HomeComponent from './components/HomeComponent';

export default {
  name: 'App',

  components: {
    HomeComponent,
  },

  data: () => ({
    menus:[
      {
        id:1,
        title:'Home'
      },
      {
        id:1,
        title:'How it Works'
      },
      {
        id:1,
        title:'Loan Types'
      },
      {
        id:1,
        title:'Business Loans'
      }
    ]
  }),
};
</script>
